.hovered_footer:hover {
    color: #f5f5f5;
}

.hovered_footer {
    color: #3b413c;
    text-decoration: none;
}

.line-before::before {
    content: "";
    display: block;
    margin-bottom: -33px;
}

.line-before:hover {
    background-color: #4dd5ac;
    height: 2px;
    transition: 500ms ease-in-out;
    border-radius: 15px;
}

.carousel-indicators {
    margin-bottom: -1rem;
}

.color-a {
    color: #FF6584;
}

ul li {
    list-style: none;
}